
.btn-add {
    background-color: rgb(126, 200, 118);
    color: white;
    font-size: 18 px;
    text-decoration: none;
    transition: background-color 0.3s;
}



.btn-add:hover {
    background-color: darkgreen; /* Darkens the button on hover */
    color: white;
}

.bi-plus {
    margin-right: 0; /* Removes space since this is now a standalone circular button */
}
