{% extends 'base.html' %}

{% block title %} Donations {% endblock %}

{% block content %}

<main role="main">

<br />
<br />
<br />
<br />
<h1>All Donations</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Donor Name</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Package</th>
            <th scope="col">Donation Date</th>
          </tr>
        </thead>
        <tbody>

            {% for donation in donation_lists %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>  <!-- This will automatically give the row number -->
                    <td>{{ donation.donorName }}</td>
                    <td>{{ donation.donation_type }}</td>
                    <td>{{ donation.amount }}</td>
                    <td>{{ donation.package }}</td>
                    <td>{{ donation.donationDate }}</td>
                </tr>
            {% endfor %}

        </tbody>
      </table>

</main>


{% endblock %}