{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Relief Centers</h1>
            <p>Flood relief centers play a crucial role in providing immediate support to those impacted by floods. These centers are set up in strategic locations to offer emergency shelter, food, clean water, medical care, and essential supplies to those affected by the disaster. They serve as safe havens, where survivors can access resources and receive support while the recovery efforts are underway. Volunteers and aid organizations work tirelessly at these centers to provide hope and assistance to communities during their time of need.</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'flood-relief-center:relief-centers' %}" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>All donations</h2>
                <p>Floods can leave entire communities in devastation, and donations are vital in helping survivors recover. Your generous contributions—whether in the form of money, goods, or services—help flood victims access the resources they need to rebuild their lives. From providing immediate essentials like food, clothing, and medicine to funding long-term recovery projects, every donation plays a significant role in restoring hope to those affected by the flood. Together, we can help these communities rebuild and move forward.</p>
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:donations' %}"  role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>All victims</h2>
                <p>Flood victims face not only the loss of their homes and belongings but also the emotional toll of such a traumatic event. From children to the elderly, those impacted by floods require urgent care and support. These victims need safe shelters, healthcare, and assistance in restoring their lives. Beyond meeting their immediate needs, supporting flood victims means helping them rebuild their homes, regain their livelihoods, and overcome the challenges brought by the disaster. Compassionate aid efforts are essential in helping these survivors recover.</p>
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:victims' %}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>All affected Areas</h2>
                <p>Entire villages can be devastated by floods, and aiding survivors in their recovery requires funding. Your kind donations, whether in cash, products, or services, enable flood victims to have the tools they require to start over. Every donation makes a big difference in giving flood victims hope again, whether it's by financing long-term recovery initiatives or providing emergency necessities like food, clothing, and medication. We can rebuild and advance these communities if we work together.</p>
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:affected-areas' %}"  role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy;  MIME Flood Relief Center 2024</p>
</footer>
{% endblock %}