{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Relief Centers</h1>
            <p>Flood relief centers play a crucial role in providing immediate support to those impacted by floods. These centers are set up in strategic locations to offer emergency shelter, food, clean water, medical care, and essential supplies to those affected by the disaster. They serve as safe havens, where survivors can access resources and receive support while the recovery efforts are underway. Volunteers and aid organizations work tirelessly at these centers to provide hope and assistance to communities during their time of need.</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'flood-relief-center:relief-centers' %}" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>All donations</h2>
                <p>Floods can leave entire communities in devastation, and donations are vital in helping survivors recover.
                    Your generous contributions—whether in the form of money, goods, or services—help flood victims access the resources
                    they need to rebuild their lives. Every donation plays a significant role in restoring hope to those affected by the flood.
                    This is all the donation for the center.</p>
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:donations' %}"  role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>All victims</h2>
                <p>Flood victims face the loss of homes and belongings, along with emotional distress. They urgently need safe shelters and
                    healthcare to address immediate needs. Supporting them also means helping rebuild their lives and regain livelihoods.
                    Compassionate aid is essential for enabling survivors to overcome these challenges and restore hope for the future.</p>
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:victims' %}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>All affected Areas</h2>
                <p>Floods can devastate entire villages, and aiding recovery requires funding. Your donations—cash, goods, or services—provide
                    flood victims with the essential tools to start over. Every contribution helps restore hope, whether through emergency
                    supplies like food and clothing or long-term recovery initiatives. Together, we can rebuild and support these communities in their recovery.</p>
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:affected-areas' %}"  role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>

<footer class="container">
    <p>&copy;  MIME Flood Relief Center 2024</p>
</footer>
{% endblock %}