{% extends 'base.html' %}

{% block title %} Relief Center Detail {% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    // Data for the chart
    const data = {
        labels: [
            {% for item in financial_status_data %}
                "{{ item.finance_type }}",
            {% endfor %}    
        ],
        datasets: [{
            label: 'summation of finance type',
            data: [
                {% for item in financial_status_data %}
                    "{{ item.total_amount }}",
                {% endfor %}
            ],  
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
            ],
            borderWidth: 1
        }]
    };

    // Get the canvas element by ID and create the chart
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',  // Choose the type of chart: 'bar', 'line', 'pie', etc.
        data: data,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true  // Ensure the y-axis starts at zero
                }
            }
        }
    });



});
</script>
{% endblock %}


{% block content %}

<main role="main">
<br />
<br />
<br />
<br />

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="display-3">
                <h1>
                    {{centerName}}
              </h1>
            </div>
            <p>Relief centers are vital in supporting flood-affected communities by providing essential services and resources.
                They serve as hubs for distributing food, medical care, and shelter, ensuring that those displaced receive immediate assistance.
                These centers also offer psychological support, helping survivors cope with the emotional toll of the disaster.
                By coordinating aid efforts and facilitating community recovery, relief centers play a crucial role in restoring hope and stability,
                empowering individuals to rebuild their lives after devastating floods. Their presence fosters a sense of solidarity and resilience
                among affected populations, demonstrating that help is available and that recovery is possible.</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'flood-relief-center:relief-centers' %}" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">

            <div class="col-md-4">

                <h2>Volunteer</h2>
                <p>Volunteers dedicated to making a positive impact in the community. </p>
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:volunteers' centerID %}" role="button">View details &raquo;</a></p>

            </div>
            <div class="col-md-4">
                <h2>Rescue teams</h2>

                <p>Rescue teams in action, providing crucial support when it matters most.</p>
         
                <p><a class="btn btn-secondary" href="{% url 'flood-relief-center:rescue-teams' centerID  %}" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>
        <div class="display-4">
            Finacial status
        </div>
        <div style="border:solid rgb(119, 149, 182);margin-top: 20px; background-color:aliceblue; text-align: center; display:flex; justify-content:space-evenly; align-items:center;">
            <div class="chart-container" style="display:inline-block; text-align: center; ">
                <p>Finance tracking of                 
                   
                    {{center.name}}
             </p>
          
                <canvas id="chart" width="400" height="300"></canvas>
            </div>
            <div >

                  <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Financial type</th>
                            <th scope="col">Max</th>
                            <th scope="col">Min</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Donation</th>
                            <td>{{ max_min_financial_data.donation_max }}</td>
                            <td>{{ max_min_financial_data.donation_min }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Grant</th>
                            <td>{{ max_min_financial_data.grant_max }}</td>
                            <td>{{ max_min_financial_data.grant_min }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Expense</th>
                            <td>{{ max_min_financial_data.expense_max }}</td>
                            <td>{{ max_min_financial_data.expense_min }}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
                
        </div>

    </div> <!-- /container -->


</main>


{% endblock %}