{% extends 'base.html' %}
{% load static %}
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>


{% block title %} Rescue Team {% endblock %}

{% block scripts %}
{% endblock %}



<body>
{% block content %}
<main role="main">
    <div class="container-fluid" style="margin-top:80px; margin-left:20px;">
    <div class="row">
      <!-- BEGIN SEARCH RESULT -->
      <div class="col-md-12">
        <div class="grid search">
          <div class="grid-body">
            <div class="row">
              <!-- BEGIN FILTERS -->
              <div class="col-md-2">
                <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                <hr>
                
                <!-- BEGIN FILTER BY CATEGORY -->
                <form method="GET" action=".">

                  
                
                <div class="container" style="padding: 0%;">
                
                    <label for="taskType" class="mt-3">Task type:</label>
                    <select id="taskType" name="selected_task_type" class="form-control">
                        <!-- Null option at the top -->
                        <option value="" selected disabled>Select Status</option>
                        {% for task in task_type_list %}
                            <option value="{{ task }}">{{ task }}</option>
                        {% endfor %}
                    </select>
                    
            
                </div>

                
                
                <!-- END FILTER BY CATEGORY -->
                
                <div class="padding"></div>
                
                
                <div class="padding"></div>
                

              </div>
              <!-- END FILTERS -->
              <!-- BEGIN RESULT -->
              <div class="col-md-9 full-width" >
                <h1><i class="fa fa-file-o"></i> All rescue teams</h1>
                <div class="container" style="display: inline-block; justify-content: flex-end; align-items:flex-end; width: 100%; margin-right:0%; padding-left: 0px">
                  <a class="btn btn-add" style="background-color: rgb(126, 200, 118); color: white; border:0px; font-size: 20px;" href="{% url 'flood-relief-center:add-rescue-teams' %}" role="button">Add</a></div>
                  <hr>
          
                <!-- BEGIN SEARCH INPUT -->
                <div class="input-group">
                  <input type="text" class="form-control" name="search_query" value="">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>search</button>
                  </span>
                </div>
                <!-- END SEARCH INPUT -->
                <p>Showing all results of query</p>
                
                <div class="padding"></div>
                
                <div class="row">
                  <!-- BEGIN VICTIM RESULT -->
                  <div class="col-sm-2">
                    <label for="orderparam" class="mt-3">Order by:</label>
                    <select id="orderparam" name="orderparam" class="form-control">
                        <option value="teamName" {% if orderparam == 'teamName' %}selected{% endif %}>Team name</option>
                        <option value="taskType" {% if orderparam == 'taskType' %}selected{% endif %}>Task Type</option>
                    </select>
                </div>
                
            </form>
                  <!-- END VICTIM RESULT -->
                  
                  <div class="col-md-6 text-right">
                    <span class="btn-group">
                      <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                      <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                    </span>
                  </div>
                </div>
                
                <!-- BEGIN TABLE RESULT -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Team name</th>
                            <th scope="col">Task type</th>
                            <th scope="col">Center</th>
                            <th scope="col">Leader</th>
                            <th scope="col">Volunteer Members</th>
                            <!-- <th scope="col">Actions</th> -->
                          </tr>
                        </thead>
                        <tbody>
                
                            {% for team in rescue_team_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>  
                                    <td>{{ team.teamName }}</td>
                                    <td>{{ team.taskType }}</td>

                
                                    <td><a href="{% url 'flood-relief-center:relief-center-detail' team.center.centerID %}">{{ team.center.name }}</a></td>
                                    <td>
                                        {% for leader in leader_list %}
                                            {% if leader.team.teamID == team.teamID %}
                                                {{ leader.name }}
                                            {% endif %}
                                        {% endfor %}

                                    </td>
                                    <td>
                                        
                                        {% for vol in volunteer_list %}
                                            {% if vol.team.teamID == team.teamID %}
                                            <ul>
                                                <li>{{ vol.name }}</li>
                                            </ul>
                                            {% endif %}
                                        {% endfor %}
                                    </td>

                                </tr>
                            {% endfor %}
                
                        </tbody>
                      </table>
                      <!-- <hr />
                      <h1>Overall Stats</h1>
                      <div style="width: 40%; height:40%">
                      <canvas id="chart" width="20" height="20"></canvas>
                    </div> -->
                  </tbody></table>
                </div>
                <!-- END TABLE RESULT -->
                

              <!-- END RESULT -->
            </div>
          </div>
        </div>
      </div>
      <!-- END SEARCH RESULT -->
    </div>
    </div>

    

    
    
</main>


{% endblock %}
</body>