{% extends 'base.html' %}
{% load static %}
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  </head>


{% block title %} Victims {% endblock %}

<body>
{% block content %}
<main role="main">
    <div class="container" style="margin-top:80px; margin-left:20px;">
    <div class="row">
      <!-- BEGIN SEARCH RESULT -->
      <div class="col-md-12">
        <div class="grid search">
          <div class="grid-body">
            <div class="row">
              <!-- BEGIN FILTERS -->
              <div class="col-md-2">
                <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                <hr>
                
                <!-- BEGIN FILTER BY CATEGORY -->
                <h4>By category:</h4>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck"> Application</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck"> Design</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck"> Desktop</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck"> Management</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck"> Mobile</label>
                </div>
                <!-- END FILTER BY CATEGORY -->
                
                <div class="padding"></div>
                
                <!-- BEGIN FILTER BY DATE -->
                <h4>By date:</h4>
                From
                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
                  <input type="text" class="form-control">
                  <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                </div>
                <input type="hidden" id="dtp_input1" value="">
                
                To
                <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
                  <input type="text" class="form-control">
                  <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
                </div>
                <input type="hidden" id="dtp_input2" value="">
                <!-- END FILTER BY DATE -->
                
                <div class="padding"></div>
                
                <!-- BEGIN FILTER BY PRICE -->
                <h4>By price:</h4>
                Between <div id="price1">$300</div> to <div id="price2">$800</div>
                <div class="slider-primary">
                  <div class="slider slider-horizontal" style="width: 152px;"><div class="slider-track"><div class="slider-selection" style="left: 30%; width: 50%;"></div><div class="slider-handle round" style="left: 30%;"></div><div class="slider-handle round" style="left: 80%;"></div></div><div class="tooltip top hide" style="top: -30px; left: 50.1px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">300 : 800</div></div><input type="text" class="slider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]" data-slider-tooltip="hide"></div>
                </div>
                <!-- END FILTER BY PRICE -->
              </div>
              <!-- END FILTERS -->
              <!-- BEGIN RESULT -->
              <div class="col-md-9 full-width" style="background-color: aqua;" >
                <h1><i class="fa fa-file-o"></i> All victims</h1>
                <hr>
                <!-- BEGIN SEARCH INPUT -->
                <div class="input-group">
                  <input type="text" class="form-control" value="Victim's name">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" style="Height: 100%; Width: 40px;" type="button"><i class="fa fa-search"></i>search</button>
                  </span>
                </div>
                <!-- END SEARCH INPUT -->
                <p>Showing all results matching "web development"</p>
                
                <div class="padding"></div>
                
                <div class="row">
                  <!-- BEGIN VICTIM RESULT -->
                  <div class="col-sm-6">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Order by <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Name</a></li>
                        <li><a href="#">Date</a></li>
                        <li><a href="#">View</a></li>
                        <li><a href="#">Rating</a></li>
                      </ul>
                    </div>
                  </div>
                  <!-- END VICTIM RESULT -->
                  
                  <div class="col-md-6 text-right">
                    <span class="btn-group">
                      <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                      <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                    </span>
                  </div>
                </div>
                
                <!-- BEGIN TABLE RESULT -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Victim number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Center</th>
                            <th scope="col">Address</th>
                            <th scope="col">Needs</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Risk Level</th>
                          </tr>
                        </thead>
                        <tbody>
                
                            {% for victim in victim_lists %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>  
                                    <td>{{ victim.victimNumber }}</td>
                                    <td>{{ victim.name }}</td>
                                    <td>{{ victim.age }}</td>
                                    <td><a href="{% url 'flood-relief-center:relief-center-detail' victim.center.centerID %}">{{ victim.center }}</a></td>
                                    <td>{{ victim.address }}</td>
                                    <td>
                                        {% for need in victim.needs.all %}
                                            {{ need.get_name_display }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    
                                    <td>{{ victim.currentStatus }}</td>
                                    <td>{{ victim.get_riskLevel_display }}</td>
                
                
                                </tr>
                            {% endfor %}
                
                        </tbody>
                      </table>
 
                  </tbody></table>
                </div>
                <!-- END TABLE RESULT -->
                

              <!-- END RESULT -->
            </div>
          </div>
        </div>
      </div>
      <!-- END SEARCH RESULT -->
    </div>
    </div>



    
    
</main>


{% endblock %}
</body>