{% extends 'base.html' %}
{% load static %}
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>


{% block title %} Victims {% endblock %}

{% block scripts %}
{% endblock %}



<body>
{% block content %}
<main role="main">
    <div class="container-fluid" style="margin-top:80px; margin-left:20px;">
    <div class="row">
      <!-- BEGIN SEARCH RESULT -->
      <div class="col-md-12">
        <div class="grid search">
          <div class="grid-body">
            <div class="row">
              <!-- BEGIN FILTERS -->
              <div class="col-md-2">
                <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                <hr>
                
                <!-- BEGIN FILTER BY CATEGORY -->
                <form method="GET" action=".">


                  <h4>By Needs:</h4>
                  <div class="checkbox">
                    <label><input type="checkbox" class="icheck" name="needs" value="food and water"> Food and Water</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" class="icheck" name="needs" value="shelter"> Shelter</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" class="icheck" name="needs" value="clothing"> Clothing</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" class="icheck" name="needs" value="medical supplies"> Medical Supplies</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" class="icheck" name="needs" value="medical attention"> Medical Attention</label>
                  </div>
                  <div class="checkbox">
                    <label><input type="checkbox" class="icheck" name="needs" value="water purification tablets"> Water Purification Tablets</label>
                  </div>
                  
                
                <div class="container" style="padding: 0%;">
                    <label for="center">Relief Center:</label>
                    <select id="center" name="selected_center" class="form-control">
                        <!-- Null option at the top -->
                        <option value="" selected disabled>Select Center</option>
                        {% for center in centers %}
                        <option value="{{ center }}">{{ center }}</option>
                        {% endfor %}
                    </select>
                
                    <label for="status" class="mt-3">Status:</label>
                    <select id="status" name="selected_status" class="form-control">
                        <!-- Null option at the top -->
                        <option value="" selected disabled>Select Status</option>
                        {% for value, label in current_status %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                    
                
                    <label for="risk_level" class="mt-3">Risk Level:</label>
                    <select id="risk_level" name="selected_risk_level" class="form-control">
                        <!-- Null option at the top -->
                        <option value="" selected disabled>Select Risk Level</option>
                        {% for value, label in risk_level %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                
                
                <!-- END FILTER BY CATEGORY -->
                
                <div class="padding"></div>
                
                <!-- BEGIN FILTER BY AGE -->
                <br />
                <h4>By age:</h4>
                <label for="customRange2" class="form-label">Age Range</label>

                <!-- Age Range Slider -->
                <input type="range" class="form-range" min="0" max="100" id="customRange2" name="age" value="{{ age|default:100 }}">
                
                <!-- Display the selected age dynamically -->
                <span id="ageValue">{{ age|default:100 }}</span>

                <script>
                  // Get references to the slider and the span
                  const ageSlider = document.getElementById('customRange2');
                  const ageValue = document.getElementById('ageValue');
              
                  // Update the span whenever the slider value changes
                  ageSlider.addEventListener('input', function () {
                      ageValue.textContent = ageSlider.value;
                  });
                </script>
                <!-- END FILTER BY AGE -->
                
                <div class="padding"></div>
                

              </div>
              <!-- END FILTERS -->
              <!-- BEGIN RESULT -->
              <div class="col-md-9 full-width" >
                <h1><i class="fa fa-file-o"></i> All victims</h1>
                <div class="container" style="display: inline-block; justify-content: flex-end; align-items:flex-end; width: 100%; margin-right:0%; padding-left: 0px">
                  <a class="btn btn-add" style="background-color: rgb(126, 200, 118); color: white; border:0px; font-size: 20px;" href="{% url 'flood-relief-center:add-victim' %}" role="button">Add</a></div>
                  <hr>
          
                <!-- BEGIN SEARCH INPUT -->
                <div class="input-group">
                  <input type="text" class="form-control" name="search_query" value="">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>search</button>
                  </span>
                </div>
                <!-- END SEARCH INPUT -->
                <p>Showing all results of query</p>
                
                <div class="padding"></div>
                
                <div class="row">
                  <!-- BEGIN VICTIM RESULT -->
                  <div class="col-sm-2">
                    <label for="orderparam" class="mt-3">Order by:</label>
                    <select id="orderparam" name="orderparam" class="form-control">
                        <option value="name" {% if orderparam == 'name' %}selected{% endif %}>Name</option>
                        <option value="age" {% if orderparam == 'age' %}selected{% endif %}>Age</option>
                        <option value="familyMembers" {% if orderparam == 'familyMembers' %}selected{% endif %}>Member</option>
                    </select>
                  </div>
            </form>
                  <!-- END VICTIM RESULT -->
                  
                  <div class="col-md-6 text-right">
                    <span class="btn-group">
                      <button type="button" class="btn btn-default active"><i class="fa fa-list"></i></button>
                      <button type="button" class="btn btn-default"><i class="fa fa-th"></i></button>
                    </span>
                  </div>
                </div>
                
                <!-- BEGIN TABLE RESULT -->
                <div class="table-responsive">
                  <table class="table table-hover">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Victim number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Family members</th>
                            <th scope="col">Center</th>
                            <th scope="col">Address</th>
                            <th scope="col">Needs</th>
                            <th scope="col">Current Status</th>
                            <th scope="col">Risk Level</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                
                            {% for victim in victim_lists %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>  
                                    <td>{{ victim.victimNumber }}</td>
                                    <td>{{ victim.name }}</td>

                                    <td>{{ victim.age }}</td>
                                    <td>{{ victim.familyMembers }}</td>
                                    <td><a href="{% url 'flood-relief-center:relief-center-detail' victim.center.centerID %}">{{ victim.center }}</a></td>
                                    <td>{{ victim.address }}</td>
                                    <td>
                                        {% for need in victim.needs.all %}
                                            {{ need.get_name_display }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    
                                    <td>{{ victim.get_currentStatus_display}}</td>
                                    <td>{{ victim.get_riskLevel_display }}</td>
                                    <td>
                                      <a 
                                      href="{% url 'flood-relief-center:edit-victim' victim.victimID %}" 
                                      style="display: inline-block; background-color: rgb(140, 184, 220); color: white; padding: 8px 12px; text-decoration: none; border-radius: 4px; font-size: 14px;">
                                      Edit
                                      </a>
                                      <a 
                                        href="{% url 'flood-relief-center:delete-victim' victim.victimID %}" 
                                        style="display: inline-block; background-color: red; color: white; padding: 8px 12px; text-decoration: none; border-radius: 4px; font-size: 14px;"
                                      >
                                        Delete
                                      </a>
                                      

                                    
                                    
                                    </td>
                
                
                                </tr>
                            {% endfor %}
                
                        </tbody>
                      </table>
                      <!-- <hr />
                      <h1>Overall Stats</h1>
                      <div style="width: 40%; height:40%">
                      <canvas id="chart" width="20" height="20"></canvas>
                    </div> -->
                  </tbody></table>
                </div>
                <!-- END TABLE RESULT -->
                

              <!-- END RESULT -->
            </div>
          </div>
        </div>
      </div>
      <!-- END SEARCH RESULT -->
    </div>
    </div>

    

    
    
</main>


{% endblock %}
</body>