{% extends 'base.html' %}
{% load static %}
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  </head>


{% block title %} Victims statistics {% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
    // Data for the chart
    const data = {
        labels: [
            {% for item in aid_packages_data %}
                "{{ item.currentStatus }}",
            {% endfor %}    
        ],
        datasets: [{
            label: 'total number of aid packages',
            data: [
                {% for item in aid_packages_data %}
                    "{{ item.count }}",
                {% endfor %}
            ],  
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
            ],
            borderWidth: 1
        }]
    };

    // Get the canvas element by ID and create the chart
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',  // Choose the type of chart: 'bar', 'line', 'pie', etc.
        data: data,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true  // Ensure the y-axis starts at zero
                }
            }
        }
    });

    const data2 = {
        labels: [
            {% for item in risk_level_data %}
                "{{ item.riskLevel }}",
            {% endfor %}
        ],
        datasets: [{
            label: 'Total Number of Victims by Risk Level',
            data: [
                {% for item in risk_level_data %}
                    "{{ item.count }}",
                {% endfor %}
            ],  
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(75, 192, 192)',
                'rgb(255, 159, 64)',
                'rgb(255, 99, 132)'
            ],
            borderWidth: 1
        }]
    };


    // Second chart (Pie chart for risk level data)
    const ctx2 = document.getElementById('chart2').getContext('2d');
    const myChart2 = new Chart(ctx2, {
        type: 'pie',  // Pie chart for the second data
        data: data2,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    const data3 = {
        labels: [
            {% for item in needs_data %}
                "{{ item.needs__name }}",
            {% endfor %}
        ],
        datasets: [{
            label: 'Victims catagorized by their specific needs',
            data: [
                {% for item in needs_data %}
                    "{{ item.count }}",
                {% endfor %}
            ],  
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(75, 192, 192)',
                'rgb(255, 159, 64)',
                'rgb(255, 99, 132)'
            ],
            borderWidth: 1
        }]
    };

    // Third chart (Line chart for risk level data)
    const ctx3 = document.getElementById('chart3').getContext('2d');
    const myChart3 = new Chart(ctx3, {
        type: 'bar',  // Line chart for the second data
        data: data3,
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});
</script>
{% endblock %}


<body>
{% block content %}
<main role="main">
    <div class="container-fluid" style="margin-top:80px; margin-left:20px;">
        <div class="row d-flex justify-content-center">

            <div class="col-md-10 full-width" >
                <h1><i class="fa fa-file-o"></i> Overall Victims Statistics</h1>
 
  
                <div style="border:solid rgb(119, 149, 182);margin-top: 20px; background-color:aliceblue;display:flex; justify-content:space-around;">
                                  
                      
                      <div class="chart-container" style="display:inline-block; margin-right: 20px; text-align: center;">
                        <!-- First Chart (Bar chart) -->
                         
                        <p>Number of aid packages requested by victim's status</p>
                       
                        <canvas id="chart" width="450" height="300"></canvas>
                        
                        </div>
                    
                    <div class="chart-container" style="display:inline-block; text-align: center; ">
                        <!-- Second Chart (Bar chart) -->
                        <p>Victim catagorized by their risk level</p>
                  
                        <canvas id="chart2" width="300" height="300"></canvas>
                        
                    </div>
               </div> 
               <div style="border:solid rgb(119, 149, 182);margin-top: 20px; background-color:aliceblue; text-align: center;">
                <div class="chart-container" style="display:inline-block; text-align: center; ">
                    <!-- Second Chart (Bar chart) -->
                    <p>Victim catagorized by their needs</p>
              
                    <canvas id="chart3" width="700" height="300"></canvas>
                    
                </div>

               </div>
            </div>    
        </div>
 

    

    
    
</main>


{% endblock %}
</body>
