{% extends 'base.html' %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

{% block title %} Volunteers {% endblock %}

<body>
{% block content %}
    <main role="main">
        <div class="container-fluid" style="margin-top:80px; margin-left:20px;">
            <div class="row">
                <!-- BEGIN SEARCH RESULT -->
                <div class="col-md-12">
                    <div class="grid search">
                        <div class="grid-body">
                            <div class="row">
                                <!-- BEGIN FILTERS -->
                                <div class="col-md-2">
                                    <h2 class="grid-title"><i class="fa fa-filter"></i> Filters</h2>
                                    <hr>
                                    <form method="GET" action=".">
                                        <div class="container" style="padding: 0%;">
                                            <label for="position" class="mt-3">Position:</label>
                                            <select id="position" name="selected_position" class="form-control">
                                                <option value="" selected disabled>Select Position</option>
                                                {% for value, label in position %}
                                                    <option value="{{ value }}">{{ label }}</option>
                                                {% endfor %}
                                            </select>

                                            <label for="avaliability_status" class="mt-3">Availability Status:</label>
                                            <select id="avaliability_status" name="selected_availability_status" class="form-control">
                                                <option value="" selected disabled>Select Availability Status</option>
                                                {% for status in avaliability_status %}
                                                    <option value="{{ status }}">{{ status }}</option>
                                                {% endfor %}
                                            </select>

                                            <label for="team_id" class="mt-3">Team ID:</label>
                                            <select id="team_id" name="selected_team_id" class="form-control">
                                                <option value="" selected disabled>Select Team ID</option>
                                                {% for id in teamID %}
                                                    <option value="{{ id }}">{{ id }}</option>
                                                {% endfor %}
                                            </select>


                                        </div>

                                        <!-- Age Range Slider -->
                                        <br />
                                        <h4>By age:</h4>
                                        <label for="customRange2" class="form-label">Age Range</label>
                                        <input type="range" class="form-range" min="0" max="100" id="customRange2" value="{{ age }}">
                                        <span id="ageValue">{{ age }}</span>


                                    </form> <!-- Close form here -->

                                </div> <!-- END FILTERS -->

                                <!-- BEGIN RESULT -->
                                <div class="col-md-9 full-width">
                                    <h1><i class="fa fa-file-o"></i> All volunteers</h1>
                                    <hr>

                                    <!-- Search Input-->
                                    <div class="input-group">
                                      <input type="text" class="form-control" name="search_query" value="">
                                      <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i>search</button>
                                      </span>
                                    </div>
                                    <p></p>
                                    <p>Showing all results of query</p>
<!--                                    <div class="padding"></div>-->
                                    <!-- BEGIN VOLUNTEER RESULT BUT STILL VICTIM-->
                                    <div class="row">
                                        <div class="col-sm-2">
                                        <label for="orderparam" class="mt-3">Order by:</label>
                                        <select id="orderparam" name="orderparam" class="form-control">
                                            <option value="name" {% if orderparam == 'name' %}selected{% endif %}>Name</option>
                                            <option value="age" {% if orderparam == 'position' %}selected{% endif %}>Position</option>
                                            <option value="familyMembers" {% if orderparam == 'avaliability_status' %}selected{% endif %}>Avaliability Status</option>
                                            <option value="familyMembers" {% if orderparam == 'team_id' %}selected{% endif %}>Team ID</option>
                                        </select>
                                        </div>
                                    </div>


                                    <p></p>
                                    <!-- BEGIN TABLE RESULT -->
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Volunteer ID</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Position</th>
<!--                                                    <th scope="col">Center</th>-->
                                                    <th scope="col">Availability Status</th>
                                                    <th scope="col">Team ID</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for volunteer in volunteer_lists %}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{ volunteer.volunteerID }}</td> <!-- Assuming volunteerID should be volunteer.id -->
                                                        <td>{{ volunteer.name }}</td>
                                                        <td>{{ volunteer.position }}</td>
                                                        <td>{{ volunteer.availability_status }}</td> <!-- Correct spelling -->
                                                        <td>{{ volunteer.teamID }}</td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div> <!-- END TABLE RESULT -->

                                </div> <!-- END RESULT -->
                            </div> <!-- END ROW -->
                        </div> <!-- END GRID BODY -->
                    </div> <!-- END GRID SEARCH -->
                </div> <!-- END SEARCH RESULT -->
            </div> <!-- END ROW -->
        </div> <!-- END CONTAINER FLUID -->
    </main>
{% endblock %}
</body>
